.main1 {
    background: linear-gradient(-225deg, var(--secondary-07) 35%, var(--primary-07) 100%),
        url("https://images.unsplash.com/photo-1589402903416-2d02f303d12c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80") no-repeat center center / cover

}
:root {
  --primary:rgba(56, 42, 232, 0.702);
  --secondary:rgb(236 41 107 / 70%);    
    
    --pane-padding: 5px 42px;
  }
  .main1{
  width:100%;
  margin:0;
  font-size: 4.5rem;
  color: #FFF;
  display: grid;
    background: linear-gradient(-225deg, var(--primary) 35%,var(--secondary)100%),
    url("https://www.spruko.com/demo/eudica/Eudica/assets/images/banners/banner1.jpg") no-repeat center center / cover;
   
  
  }
  .container.nav1{
    max-width: 1200px;
  }
  .container.nav2{
    max-width: 1200px;
  }
  .container.nav3{
    max-width: 1200px;
  }
  /* First nav */
  .main-nav-bar{
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    z-index: 2;
  }
  /* .border1{
    border-bottom: solid!important;
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
  } */
  .row.m-0.firstrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
  .icon{
    font-size: 14px;
    color:#FFF;
    /* display: flex; */
    /* flex-direction: ; */
  
     
  }
  .icon3{ 
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    align-items: center;

  }
  .ulc{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    justify-content: space-between;
    font-size: 14px;
    color: #FFF;
  }

  .ulc a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
  }
  .col-lg-4.icon{
    display: flex;
    justify-content: space-between;
 }
 
/* dropdowmn */
 .demo-dev {
    display: none;
    position: absolute;
   height: 270px;
   width: 150px;
    z-index: 1;
    overflow-y: scroll;
  }
.demo-dev1:hover demo-dev{
    display: block;
  }
  
  .demo-dev1:hover .demo-dev {
    display: block;
    padding: 0px;
    background-color:#FFF;

    
  }
  .demo-dev1{
    margin: 0 30px;
  }
  .demo-dev ul{
    list-style: none;
    padding: 0;
  }
  .input1 {
    width: 95%;
    border: solid;
    border-width: 1px;
    margin: 3px;
    border-color: #e0e8f3 ;
  }
  
  .demo-dev a{
    color: #2e384d;
  } 
  .demo-dev ul li{
   padding: 5% 1px;
   font-size: 14px;
  }
  .demo-dev ul li:hover{
    background-color: #F2F5F9;
    color:#EC296B;
    width: 100%;
  }
  .demo-dev ul a:hover{
    background-color: #F2F5F9;
    color:#EC296B;
    width: 100%;
  }
 
/* dropdown end */

 
 .demo-dev.dev1 li{
  padding:5px;
 }
 .demo-dev.dev2 li {
  padding: 15px 25px;
}
 
/* navbar2 */
.row.m-0.nav2 {
  display: flex;
  align-items: first baseline;
}
.col-lg-4.icon2{
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}
.mainheading{
  margin-top: 7%;
}

/* .icon{
 text-align: end;
 align-items: center;
} */

.icon3{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 46px;
  width: 25px;
  height: 25px;
  align-content: center;
  text-align: center;
  font-size: 14px;
}



/* nav3 */
.nav3{
  background-color: #362ae8;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}
.nav3 ul {
  display: flex;
  list-style: none;
  align-items: center;
  /* align-content: center; */
  justify-content: space-between;
}
.nav3 ul{
  padding: 0;
  margin: 0;
  
}
.nav3 ul li  {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.nav3 ul li:hover{
  text-decoration: none;
  color: #EC296B;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
 
  /* border-right: 1px solid #6987AB; */
}

/* nav end css */
.heading1{
  text-align: center;
  padding-top: 5%;

}



.find{
  color: #ffffff;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;

}
.paragraph1{
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.form{
  display: flex;
  justify-content: center;
}
.form input{
  width: 300px;
  height: 40px;
  font-size: 14px;
}





.lastsection{
  padding-bottom: 150px;
}
::placeholder{
  font-size: 14PX;
}

.location{
   padding: 10px;
 /* border-radius: 1px solid black; */
 background-image:url(./image/icon/location-dot-solid.svg);
background-repeat: no-repeat;
background-size: 20px 15px;
background-position: right center; 
padding-right: 45px;
border: 0;
 /*! font-size: 20px; */
  /*! color: rebeccapurple; */
}
.dropicon{
    padding: 10px;
 /* border-radius: 1px solid black; */
 background-image:url(./image/icon/caret-down-solid.svg);
 background-repeat: no-repeat;
 background-size: 20px 15px;
 background-position: right center; 
 padding-right: 45px;
  /*! font-size: 20px; */
   /*! color: rebeccapurple; */
   border: 0;
  

}
.btn1{
  background-color: #EC296B;
  font-size: 14px;
  width: 190px;
  height: 40px;
  border: 0;
  border-radius:  0 7px 7px 0;
  color: #FFF;
}
 /* Section 2 */
.heading2{
  padding-top:4%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divider {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 602px;

}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 3px;
  background-color: #4b5d73;

}
.Categories{
  color: #4b5d73;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;

}
.paragraph2{
  color: #4b5d73;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.card12 {
 padding-top: 15px;
}