.main1 {
    background: linear-gradient(-225deg, var(--secondary-07) 35%, var(--primary-07) 100%),
        url("https://images.unsplash.com/photo-1589402903416-2d02f303d12c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80") no-repeat center center / cover

}
:root {
  --primary:rgba(56, 42, 232, 0.702);
  --secondary:rgb(236 41 107 / 70%);    
    
    --pane-padding: 5px 42px;
  }
  .main1{
  height:599px;
  width:100%;
  margin:0;
  font-size: 4.5rem;
  color: #FFF;
  display: grid;
    background: linear-gradient(-225deg, var(--primary) 35%,var(--secondary)100%),
    url("https://www.spruko.com/demo/eudica/Eudica/assets/images/banners/banner1.jpg") no-repeat center center / cover;
  
  }
  /* First nav */
  .border1{
    border-bottom: solid!important;
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
  }
  .row.m-0.firstrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


  .icon{
    font-size: 20px;
    color:#FFF;
    display: flex;
    /* flex-direction: ; */
     
  }
  .ulc{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    justify-content: space-between;
    font-size: 19px;
    color: #FFF;
  }

  .ulc a {
    text-decoration: none;
    color: #fff;
  }
 
/* dropdowmn */
 .demo-dev {
    display: none;
    position: absolute;
   height: 270px;
   width: 150px;
    z-index: 1;
    overflow-y: scroll;
  }
.demo-dev1:hover demo-dev{
    display: block;
  }
  
  .demo-dev1:hover .demo-dev {
    display: block;
    padding: 0px;
    background-color:#FFF;

    
  }
  .demo-dev1{
    margin: 0 30px;
  }
  .demo-dev ul{
    list-style: none;
    padding: 0;
  }
  .input1 {
    width: 95%;
    border: solid;
    border-width: 1px;
    margin: 3px;
    border-color: #e0e8f3 ;
  }
  
  .demo-dev a{
    color: #2e384d;
  } 
  .demo-dev ul li{
   padding: 5% 0;
  }
  .demo-dev ul li:hover{
    background-color: #F2F5F9;
    color:#EC296B;
    width: 100%;
  }
  .demo-dev ul a:hover{
    background-color: #F2F5F9;
    color:#EC296B;
    width: 100%;
  }


 .col-lg-4.icon{
    display: flex;
    justify-content: space-evenly;
 }
 
/* navbar2 */
.nav2{
  display: flex;
  flex-wrap: nowrap;
}
.icon2{
  font-size: 20px;
  color: #FFF;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  padding: 10% 0px;
}